*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 74, 0, 0.907);
    }
    
    .eu {
        border-radius: 150%;
        height: 200px;
        border: 5px goldenrod solid;
    }
    
    .left {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkgreen;
        border: 5px solid goldenrod;
    }
    .text1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 15px;
        margin: 10px;
        color: bisque;
    }
    
    a{
        text-decoration: none;
        color: bisque;
        font-size: 30px;
    
    }
    
    a:hover, d-one, d-two, d-tree {
    color: goldenrod;
    font-size: 40px;
    display: inline-block;
    transition: transform 0.3s;
    transform: scale(1.2);
    }

    .bi:hover {
        font-size: 30px;
        color: goldenrod;
        display: inline-block;
        transition: transform 0.3s;
        transform: scale(1.0);

    }
    
    .right{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    font-size: 40px;
    color: bisque;
    }    

    .p{
        padding: 40px;

    }

    .tamanho{
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 20px;
    }


    .image{
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 50px;
        font-size: medium;
        margin: 15px;
    

    }

    .one{
        display: flex;
        font-size: 19px;
        align-items: center;
        flex-direction: row;
    }

    .space {
        margin-left: 50px;

    }
